/* App.css */

.content-container {
  display: flex;
  position: relative; /* Ensure the content container is positioned relative */
}

.side-banner {
  width: 200px !important; /* Add !important to ensure this width is applied */
  background-color: #004d40; /* Consistent with AppHeader for a cohesive look */
  color: #ffffff; /* Ensures text is white for readability */
  padding: 20px; /* Provides internal spacing */
  position: absolute; /* Position the side-banner absolutely within the content container */
  top: 0px; /* Position below the AppHeader */
  bottom: 0; /* Fill the remaining height of the content container */
  overflow-y: auto; /* Allow scrolling within the sidebar */
  z-index: 1; /* Ensure the side-banner appears below the news-container */
}

.news-container {
  margin-left: 200px;
  flex-grow: 1; /* Take remaining space */
  padding: 20px; /* Internal spacing */
  overflow-y: auto; /* Allow main content area to scroll if content exceeds height */
  position: relative; /* Ensure the news container is positioned relative */
  z-index: 2; /* Ensure the news-container appears above the side-banner */
}
