/* AuthPage.css */

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: #004d40; /* Deep green background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff; /* White text for high contrast */
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc; /* Subtle border matching light backgrounds */
  background-color: #f8f9fa; /* Light gray for input fields */
  color: #333; /* Dark gray text color for visibility */
}

.form-container button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #004d40; /* Dark green background for buttons */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #003429; /* Darker shade of green for hover effect */
}

.btn-link {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: #ffffff; /* White text color for the link */
  text-decoration: none; /* No underline by default */
}

.btn-link:hover {
  color: #ccc; /* Lighter color on hover */
}

.error {
  color: #ff5252; /* Red color for error messages */
  margin-bottom: 20px;
  text-align: center; /* Center align error messages */
}

.tag-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.tag-selection button {
  flex: 1 1 45%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tag-selection button:hover {
  background-color: #ddd;
}

.tag-selection button.btn-success {
  background-color: #ffffff;
  color: #004d40;
}

.tag-selection button.btn-outline-success {
  background-color: #004d40;
  color: #ffffff;
}

.register-box {
  text-align: center;
}

.toggle-button {
  display: block;
  width: auto;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  background-color: #ffffff; /* Button background */
  color: #004d40;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  text-align: center;
}

.toggle-button:hover {
  background-color: #ddd; /* Lighter background on hover */
}
