/* AppHeader.css */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1050;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004d40; /* Dark green background */
  padding: 0.5rem 1rem; /* Added padding for better alignment */
}

.navbar-brand {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #ffffff; /* Keeps text color white on hover */
  text-decoration: none; /* No underline */
}

.navbar-right {
  display: flex;
  align-items: center;
}

.welcome-message {
  color: #ffffff; /* White text for visibility */
  margin-right: 10px; /* Space between the message and the button */
}

.btn.sign-out-btn {
  color: #004d40; /* Text color matching the navbar */
  background-color: #ffffff; /* White background */
  border: none; /* No border */
  padding: 0.375rem 0.75rem; /* Padding to match typical Bootstrap button */
}

.btn.sign-out-btn:hover {
  background-color: #eeeeee; /* Slightly gray on hover for visual feedback */
}

.auth-link {
  color: #ffffff;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}
