/* NewsCard.css */
.card {
  width: 25rem;
  display: flex;
  flex-direction: column;
  background: transparent;
  border: none;
  box-shadow: none;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin: 1rem; /* Adds margin around each card */
}

.card:hover {
  transform: scale(1.03); /* subtle zoom on hover for a dynamic effect */
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #ddd; /* subtle separation without heavy borders */
}

.card-body {
  padding: 0.8rem;
  background: rgba(
    255,
    255,
    255,
    0.8
  ); /* slightly transparent background for the text */
  backdrop-filter: blur(
    10px
  ); /* blurring effect behind text for better readability on varying images */
}

.card-title {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-date {
  font-size: 1rem;
  color: #999;
  margin-bottom: 0.5rem; /* Add this block for the date styling */
}

.card-text {
  font-size: 1rem;
  color: #666;
}

@media (max-width: 768px) {
  .card {
    width: 100%; /* full width on smaller screens */
    margin: 0.5rem; /* adjust margin for smaller screens */
  }
}
